@model POS.DataContext.CategoryEntity

@{
    ViewBag.Title = "Add New Category";
    Layout = "_Layout";
}

<div class="card-header">
    <h3>Add New Category</h3>
</div>
<div class="card-body">
    <form asp-controller="Category" asp-action="Save" method="post">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CategoryCode" class="floating-label" for="CategoryCode">Category Code</label>
                    <input asp-for="CategoryCode"class="form-control" id="CategoryCode" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CategoryName" class="floating-label" for="CategoryName">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" id="CategoryName" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CategoryDescription" class="floating-label" for="CategoryDescription">Category Description</label>
                    <input asp-for="CategoryDescription" class="form-control" id="CategoryDescription" />
                </div>
            </div>
        </div>
        <a type="reset" asp-controller="Category" asp-action="GetAll" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
