@model POS.DataContext.CategoryEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit Category</h2>
<form asp-controller="Category" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="CategoryCode">Category Code</label>
        <input asp-for="CategoryCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryName">Category Name</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryDescription">Category Description</label>
        <input asp-for="CategoryDescription" class="form-control" />
    </div>
    <div class="form-footer">
        <button type="submit">Save</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
